<%  if shop_signed_in? %>
<h3>Inventory</h3>
<table>
<tr>
<th>Product Image</th>
<th>Product</th>
<th>Current Stock</th>
</tr>
<% @inventory.each do |inv| %>
<tr>

<td>
<%= image_tag Product.where(:id => inv.prodId)[0].desc,size: "20*20" ,alt: "http://localhost:3000/img/shoppingcart13.png" %> 
</td>
<td><%= Product.where(:id => inv.prodId)[0].product_name %></td>
<td><%= inv.stockCur %></td>
</tr>
<% end %>
</table>
<% end %>