<!DOCTYPE html>
<html>
<head>
  <title>RetailKart</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- start of top bar -->
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">RetailKart</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
  	
    </ul>
  	<section class="top-bar-section">
  	
    <!-- Left Nav Section -->
   	<ul class="right">
      <li><a href="/kart">Kart</a></li>
   		<li><a href="/shops/sign_up">Sign Up </a></li>
   	</ul>
    <ul class="left">

      <li><a href="/products">Products</a></li>
      <!-- start of search bar -->
      <li class="has-form">
	 	<div class="row collapse">
    	<div class="large-8 small-9 columns">
    	  <input type="text" placeholder="Find Products">
    	</div>
   		<div class="large-4 small-3 columns">
     	<a href="#" class="alert button expand">Search</a>
  	  	</div>
  		</div>
	  </li>
	  <!-- End of search bar -->

    </ul>
  </section>
</nav>

<!-- end of top bar -->
<div class="row">
	<div class="small-2 large-2 columns">
	</div>
	<div class="small-12 large-12 columns">
		<%= yield %>
	</div>
	
</div>


</body>
</html>
